# -------------------------
# Python
# -------------------------
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
venv/
venv*/
.env/

# -------------------------
# Environment / Secrets
# -------------------------
.env
*.env
.env.*

# -------------------------
# IDE / Editor / OS Files
# -------------------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# -------------------------
# Logs
# -------------------------
*.log
logs/
log/

# -------------------------
# Docker
# -------------------------
# 도커가 생성하는 빌드 캐시나 임시 파일
docker-data/
docker-temp/
db_data/        # docker-compose 볼륨(필요 시)

# -------------------------
# MySQL
# -------------------------
*.sql
*.sqlite
*.db

# -------------------------
# Other
# -------------------------
*.tmp
